body {
    height: 100%;
    background-color: #D8E9A8;
  }
  /* estilos de navegacion del menu */
.navbar {
    width: 100%;
    background-color:#191A19;
    overflow: auto;
  }
  
  /* links de navegacion */
  .navbar a {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 8%; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar2 {
    width: 100%;
    background-color:#4E9F3D;
    overflow: auto;
  }
  
  /* links de navegacion */
  .navbar2 a {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 17px; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 20px;
  }
  .navbar2 i{
      float: left;
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #d8e9a891;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #1E5128;
  }
  
  .Banner {
      background-color: white;
      width: 100%;
      min-height: 100px;
      height: 100%;
  }
   .logo{
       margin-left: 20px;
       width: 25%;
       min-width: 90px;
   }

   .redes{
       float: right;
       margin-top: 50px;
       margin-right: 20px;
   }
   .redes img{
       padding-left: 10px;
       padding-right: 10px;
   }

   .banner2{
       width: 100%;
       height: 100%;

   }
   .banner2 img{
       width: 100%;
       height: 500px;
       float: left;
       margin-bottom: 30px;
   }

   .seccion{
      text-align: center;
      width: 100%;
      margin-top: 20px;
      padding-top: 20px;
      background-color: white;
   }
   .seccion img{
       min-width: 30px;
       max-width: 15%;
       margin-right: 10px; 
   }
    .seccioninterno{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .curso{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    .items {
        float: left;
        width: 20%;
        margin-left: 10px;
        margin-right: 10px;
      
    }
    .items img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 50px;
        max-width: 200px;
    }
    .curso {
        width: 100%;
        background-color: white;
        overflow: auto;
        margin-top: 100px;
        
      }

      .curso a {
        float: left;
        margin-left: 3px;
        margin-right: 3px;
        color:#000;
        text-decoration: none;
        font-size: 17px;
        width: 19%; 
        text-align: center; 
        font-family: Arial, Helvetica, sans-serif;
        
      }

      .curso img{
        min-width: 100px;
        max-width: 120px;
      }

      footer{
          width: 100%;
          height: 100%;
          font-size: 17px;
          font-family: Arial, Helvetica, sans-serif;
          color: black;
          
      }
      .parteexterna{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .p1{
          position: relative;
          float: left;
          width: 33%;
      }
      
      .p1 img{
          border-radius: 40%;
          position: relative;
          float: none;
      }

      .p1 p{
          font-size: 14px;
          margin-top: 30px;
          margin-bottom: 45px;
          font-family: Arial, Helvetica, sans-serif;
      }
      .p1 a{
          display: block;
          margin: 10px;
          text-decoration: none;
          color:black;
          text-align: center;
          font-size: 14px;
      }
      .social a{
        display: inline-block;

      }
    
   